
$gradientColor1: rgba(252,193,20,0.5);
$gradientColor2: rgba(140,203,32,0.5);
$gradientColor3: rgba(0,212,255,0.9);

$boxShadow: 0px 5px 6px #25232340;
$boxShadowInset: inset 0 0 5px #7b7272;
$fontFamily: 'Montserrat', sans-serif;

// formulier
$formTextColor: #2d2d2d;
$formTextColorLight: #625e5e;
$formBackgroundColorOne: #f7f7f3;


//buttons
$primaryButtonBGColor: #b2004d ;
$primaryBorderColor: #980444;
$primaryButtonBGColorLight: #ea2f80;
$primaryButtonTextColor: #fff;
