*{
  margin:0;
}

body{
  .section{
    font-family: $fontFamily;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $gradientColor2;
    background: rgb(252,193,20);
    background: -moz-linear-gradient(155deg, $gradientColor1 0%, $gradientColor2 35%, $gradientColor3  100%);
    background: -webkit-linear-gradient(155deg, $gradientColor1 0%,  $gradientColor2 35%, $gradientColor3 100%);
    background: linear-gradient(155deg, $gradientColor1 0%,  $gradientColor2  35%, $gradientColor3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=""$gradientColor1,endColorstr=""$gradientColor3,GradientType=1);
  }

  .text-center{  text-align: center; }

  .rounded{  border-radius: 4px; }

  .btn{
    padding: 20px;
    border: none;
    font-size: 1.2rem;

    &.full-size{  width: 100%; }

    &.primary{
      color: $primaryButtonTextColor;
      background: $primaryButtonBGColor;
      background-image: linear-gradient(90deg, $primaryButtonBGColor, $primaryButtonBGColorLight, $primaryButtonBGColor, $primaryBorderColor);
      box-shadow: $boxShadow;
    }

    &.primary:hover{
      cursor:pointer;
      background-size: 300% 50%;
      animation: animateBg 1s infinite linear;
    }
  }
}
